*{
  box-sizing: border-box;
}

body{
  font-family: 'Libre Baskerville';
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
    width: 100%;
    height: 100vh;
    .top__half{
      background-color: rgb(241, 184, 241);
      
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 50vh;
    
      
    }
    .bottom__half{

     
      bottom: 0;
      
      background: rgb(241, 184, 241);
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      width: 100%;
      height: 50vh;
      padding-top: 0rem;
      .title{
        font-weight: 900;
        display: block;
        text-align: center;
        background-color: rgb(241, 184, 241);
        font-family: 'Montserrat';
        font-size: 2.5rem;
        color: rgb(82, 2, 78);
        margin-top: 0;
        padding-bottom: 8rem;
        &::after{
          content: '';
          display: block;
          width: 100%;
          height: 10%;
          background: rgb(82, 2, 78);
          
        }
       
      }
  
      .btn{
        color: white;
        font-size: 1.2rem;
        padding: 1rem 3rem;
        border: 0;
        border-radius: 30px;
        background: rgb(82, 2, 78);
        box-shadow: 2px 5px 5px black;
      }
    }
    img{
      margin-top: 7rem;
      max-width: 50%;
      height: 50%;
      border-radius: 50%;
      border: 3px solid rgb(82, 2, 78);
      
    }

  }
}

